



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 co l-md-6">
            <div class="well well-sm">
                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <img src={{photoUrl}} alt="" class="img-rounded img-responsive" width=350px height=450px
                            style="padding-top: 20px" />
                    </div>

                    <div class="col-sm-6 col-md-8">
                        <h4>{{name}}</h4>
                        <small>
                            <cite title="San Francisco, USA">Kolkata, India <i class="fas fa-map-marker-alt"></i></cite>
                        </small>
                        <p>
                            <i class="far fa-envelope"></i> {{email}}
                            <br />
                            <i class="fab fa-accusoft"></i> <a href="http://www.splitmybill.com">www.splitmybill.com</a>
                            <br />
                            <i class="fas fa-birthday-cake"></i> November 28, 1994
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









      
